{
  "presets": [
    "next/babel",
    "@zeit/next-typescript/babel"
  ],
  "env": {
    "development": {
      "plugins": [["emotion", { "hoist": true }]],
    },
    "production": {
      "plugins": [["emotion", { "sourcemap": true, "autolabel": true }]],
    },
  }
}
